.mainBackground {
    background-color: #cfe1b9;
  height: 100vh;
  width: 100%;
  color: white;
}

.footerEdit{
    color:718355;
}


.containerEl {
    color:black;
    background-color: white;
    border-end-end-radius: 1;
}